* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(15deg, #b49b86 6%, #636676 50%, #001426 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#container {
  background: linear-gradient(5deg, #2f3336 0%, #636676 50%, #001426 100%);
  max-width: 650px;
  width: 100%;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
}

h2 {
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.span {
  color: #5865f2;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.form-control textarea {
  resize: none;
}

.radio-box {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 12px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.radio-box input[type="radio"] {
  width: auto;
  margin: 0;
  cursor: pointer;
}

.checkbox-control {
  margin-bottom: 20px;
}

.checkbox-control label {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.button {
  background-color: #4752c4;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: po;
  width: 100%;
  margin-top: 10px;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}

.button:hover {
  background-color: #5865f2;
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 480px) {
  .grid1 {
    grid-template-columns: 1fr;
  }
}
